.bg-gra-01 {
	background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
	background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
	background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
	background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
	background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
	background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
	background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
	background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
	background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
	background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.bg-gra-03 {
	background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
	background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
	background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
	background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
	background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

.page-wrapper {
  min-height: 97vh;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
button {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	outline: none;
	background: none;
	border: none;
}

.btn {
	display: inline-block;
	line-height: 2em;
	padding: 0 1em;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	font-family: inherit;
}
.btn--radius {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.btn--pill {
	-webkit-border-radius: 4em;
	-moz-border-radius: 4em;
	border-radius: 4em;
}

.btn--green {
	background: #57b846;
}

.btn--green:hover {
	background: #4dae3c;
}

.btn--blue {
	background: #4272d7;
}

.btn--blue:hover {
	background: #3868cd;
}

.btn--red {
	background: #ff4b5a;
}

.btn--red:hover {
	background: #eb3746;
}


.card{
	background: #F6F9E4;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: 0.3s;
	border-radius: 2em;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.input-prop{
	font-size: 1.5em;
	padding: 0.2em;
	border-radius: 2em;
	border-color: #fff;
	text-align: center;
	background: linear-gradient(#F6E869, #CDC8BC);
}